{% extends 'base2.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    <div class="form-group">
        <label for="full_name">Author name:</label>
        {{ form_widget(form.full_name) }}
    </div>
    <div class="form-group">
        <label for="nationality">Nationality:</label>
        {{ form_widget(form.nationality) }}
    </div>
    <div class="form-group">
        <label for="gender">Gender:</label>
        {{ form_widget(form.gender) }}
    </div>
    <div class="form-group">
        <label for="image">Image:</label>
        {{ form_widget(form.image) }}
    </div>
    <input type="submit" name="create_author" value="Create" class="btn btn-primary"/>
    {{ form_end(form) }}
{% endblock %}