{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
        <div class="row mt-3 mb-4">
            <div class="col-md-8">
                <h1 class="mt-4 mt-md-0"><b>Name: </b>{{ userInfor.name }}</h1>
                <hr>
                <b>Email: </b>{{ userInfor.email }}
                <hr>
                <b>Phone number: </b>{{ userInfor.phonenumber }}
                <hr>
                <b>Gender: </b> {{ userInfor.gender }}
                <form class="mt-4 p-4 bg-light" method="post">
<a href="{{ path('book_show') }}" class="btn" style="background-color: yellowgreen; color: white">Back to the Book list</a>

                </form>
            </div>
        </div>
    </div>
{% endblock %}

